<%- include('../../part/header.ejs') %>

<main class="main-content relative">
    <h1 class="title">Pelayanan KTP-el Baru</h1>
    <p class="desc">Berikut Merupakan Syarat dan Penjelasan Pelayanan KTP-el Baru</p>
    <div class="ol-wrapper">
        <h2 class="text-2xl mb-8 font-bold underline underline-offset-8">Syarat</h2>
        <ol class="list-alpha mb-10">
            <li>Telah berusia 17 tahun, sudah kawin, atau pernah kawin; dan</li>
            <li>Fotokopi KK. (Pasal 15 Perpres 96/2018)</li>
        </ol>
        <h2 class="text-2xl mb-8 font-bold underline underline-offset-8">Penjelasan</h2>
        <ul class="list-disc">
            <li>Penduduk mengisi F-1.02;</li>
            <li>Penduduk melampirkan fotokopi KK; dan</li>
            <li>Dinas menerbitkan KTP-el Baru.</li>
        </ul>
    </div>
</main>

<%- include('../../part/footer.ejs') %>
