<%- include('../../part/header.ejs') %>

<main class="main-content relative">
    <h1 class="title">Pelayanan KTP-el Hilang / Rusak</h1>
    <p class="desc">Berikut Merupakan Syarat dan Penjelasan Pelayanan KTP-el Hilang / Rusak</p>
    <div class="ol-wrapper">
        <h2 class="text-2xl mb-8 font-bold underline underline-offset-8">Syarat</h2>
        <ol class="list-alpha mb-10">
            <li>SKP (jika terjadi pindah datang);</li>
            <li>KTP-el lama dan surat keterangan/bukti perubahan peristiwa kependudukan dan Peristiwa Penting (jika terjadi perubahan data);</li>
            <li>KTP-el rusak (jika KTP-el rusak); dan</li>
            <li>Surat kehilangan dari kepolisisan (jika KTP-el hilang). (Pasal 15 Perpres 96/2018)</li>
        </ol>
        <h2 class="text-2xl mb-8 font-bold underline underline-offset-8">Penjelasan</h2>
        <ul class="list-disc">
            <li>Penduduk mengisi F-1.02;</li>
            <li>Penduduk melampirkan:</li>
            <ul class="list-decimal pl-12 italic">
                <li>SKP (jika permohonan karena pindah datang antar Kab/Kota/Provinsi);</li>
                <li>KTP-el dan fotokopi surat keterangan/bukti perubahan peristiwa kependudukan dan peristiwa penting (jika perubahan data);</li>
                <li>KTP-el rusak (jika KTP-el rusak); dan</li>
                <li>Surat kehilangan dari kepolisian (jika permohonan karena hilang).</li>
            </ul>
            <li>Dinas menarik KTP-el lama (jika perubahan data).</li>
            <li>Dinas menerbitkan KTP-el Baru.</li>
            <li>Dinas memusnahkan KTP-el lama.</li>
        </ul>
    </div>
</main>

<%- include('../../part/footer.ejs') %>
