<%- include('../../part/header.ejs') %>

<main class="main-content relative">
    <h1 class="title">Pelayanan KK Baru</h1>
    <p class="desc">Berikut Merupakan Syarat dan Penjelasan Pelayanan KK Baru</p>
    <div class="ol-wrapper">
        <h2 class="text-2xl mb-8 font-bold underline underline-offset-8">Syarat</h2>
        <ol class="list-alpha mb-10">
            <li>Fotokopi buku nikah/kutipan akta perkawinan atau kutipan akta perceraian; dan (Pasal 11 ayat (1) Perpres 96/2018)</li>
            <li>SPTJM perkawinan/perceraian belum tercatat (F-1.05), jika tidak dapat melampirkan kutipan akta perkawinan atau perceraian. (Pasal 10 ayat (2) Permendagri 108/2019)</li>
        </ol>
        <h2 class="text-2xl mb-8 font-bold underline underline-offset-8">Penjelasan</h2>
        <ul class="list-disc">
            <li>Penduduk mengisi F-1.02;</li>
            <li>Penduduk menyerahkan fotokopi buku nikah/kutipan akta perkawinan, kutipan akta perceraian atau menyerahkan SPTJM perkawinan/perceraian belum tercatat yang ditandatangan kedua pihak apabila tidak memiliki buku nikah/akta perkawinan;</li>
            <li>Saksi yang dipersyaratkan tidak perlu melampirkan fotokopi KTP-el; dan</li>
            <li>Dinas menerbitkan KK Baru.</li>
        </ul>
        <div class="pl-12">
            <h2 class="text-xl mb-6 font-bold underline underline-offset-8">Catatan</h2>
            <h2 class="text-xl mb-10 font-semibold italic">Untuk pelayanan online/Daring, persyaratan yang discan/difoto untuk diunggah harus aslinya.</h2>
        </div>
    </div>
</main>

<%- include('../../part/footer.ejs') %>
