<%- include('../../part/header.ejs') %>

<main class="main-content relative">
    <h1 class="title">Pelayanan KK Hilang / Rusak</h1>
    <p class="desc">Berikut Merupakan Syarat dan Penjelasan Pelayanan KK Hilang / Rusak</p>
    <div class="ol-wrapper">
        <h2 class="text-2xl mb-8 font-bold underline underline-offset-8">Syarat</h2>
        <ol class="list-alpha mb-10">
            <li>Surat keterangan hilang dari kepolisian atau KK yang rusak;</li>
            <li>Fotokopi KTP-el; dan</li>
            <li>
                Fotokopi kartu izin tinggal tetap (untuk OA).
                <br />
                (Pasal 13 Perpres 96/2018)
            </li>
        </ol>
        <h2 class="text-2xl mb-8 font-bold underline underline-offset-8">Penjelasan</h2>
        <ul class="list-disc">
            <li>Penduduk mengisi F-1.02 dan tidak perlu melampirkan fotokopi KTP-el karena NIK telah diisi di F-1.02; dan</li>
            <li>Penduduk menyerahkan dokumen KK yang rusak/surat keterangan kehilangan dari kepolisian kepada Dinas untuk digantikan dengan KK yang baru.</li>
        </ul>
    </div>
</main>

<%- include('../../part/footer.ejs') %>
