<%- include('../../part/header.ejs') %>

<main class="main-content relative">
    <h1 class="title">Pelayanan KK Baru Kedatangan</h1>
    <p class="desc">Berikut Merupakan Syarat dan Penjelasan Pelayanan KK Baru Kedatangan</p>
    <div class="ol-wrapper">
        <h2 class="text-2xl mb-8 font-bold underline underline-offset-8">Syarat</h2>
        <ol class="list-alpha mb-10">
            <li>Fotokopi Dokumen Perjalanan Republik Indonesia; dan</li>
            <li>SKPLN dari Dinas atau SKP dari Perwakilan Republik Indonesia.</li>
        </ol>
        <h2 class="text-2xl mb-8 font-bold underline underline-offset-8">Penjelasan</h2>
        <ul class="list-disc">
            <li>WNI mengisi F-1.03;</li>
            <li>WNI menyerahkan fotokopi Dokumen Perjalanan RI/SPLP;</li>
            <li>WNI menyerahkan SKPLN dari Disdukcapil (yang pernah diterbitkan) atau SKP dari Perwakilan RI atau SPNIK atau surat pernyataan; dan</li>
            <li>Dinas menerbitkan/mengaktifkan KK, KTP-el dan KIA sesuai alamat di dalam wilayah NKRI.</li>
        </ul>
        <div class="pl-12">
            <h2 class="text-xl mb-6 font-bold underline underline-offset-8">Catatan</h2>
            <h2 class="text-xl mb-10 font-semibold italic">WNI yang datang dari luar negeri wajib melaporkan kedatangannya kepada Instansi Pelaksana paling lambat 14 hari sejak tanggal kedatangan. (Pasal 19 ayat (1) UU 23/2006)</h2>
        </div>
    </div>
</main>

<%- include('../../part/footer.ejs') %>
