<%- include('../../part/header.ejs') %>

<main class="main-content relative">
    <h1 class="title">Pelayanan KK Perubahan Data</h1>
    <p class="desc">Berikut Merupakan Syarat dan Penjelasan Pelayanan KK Perubahan Data</p>
    <div class="ol-wrapper">
        <h2 class="text-2xl mb-8 font-bold underline underline-offset-8">Syarat</h2>
        <ol class="list-alpha mb-6">
            <li>KK lama; dan</li>
            <li>Fotokopi surat keterangan/bukti perubahan Peristiwa Kependudukan (cth: Paspor, SKPWNI) dan Peristiwa Penting.</li>
        </ol>
        <div class="pl-12">
            <h2 class="text-xl mb-6 font-bold underline underline-offset-8">Catatan</h2>
            <h2 class="text-xl mb-10 font-semibold italic">Peristiwa kependudukan yang dimaksud adalah pindah penduduk dalam NKRI atau antar negara. (Pasal 12 Perpres 96/2018)</h2>
        </div>
        <h2 class="text-2xl mb-8 font-bold underline underline-offset-8">Penjelasan</h2>
        <ul class="list-disc">
            <li>Penduduk mengisi F-1.02;</li>
            <li>Penduduk melampirkan KK lama;</li>
            <li>Penduduk mengisi F-1.06 karena perubahan elemen data dalam KK;</li>
            <li>Penduduk melampirkan fotokopi bukti peristiwa kependudukan dan peristiwa penting;</li>
            <li>Penduduk melampirkan surat pernyataan pengasuhan dari orangtua jika pindah KK dan surat pernyataan bersedia menampung dari kepala keluarga KK yang ditumpangi khusus pindah datang bagi penduduk yang berusia kurang dari 17 tahun; dan</li>
            <li>Dinas menerbitkan KK Baru.</li>
        </ul>
        <div class="pl-12">
            <h2 class="text-xl mb-6 font-bold underline underline-offset-8">Catatan</h2>
            <h2 class="text-xl mb-10 font-semibold italic">Untuk pelayanan online/Daring, persyaratan yang discan/difoto untuk diunggah harus aslinya</h2>
        </div>
    </div>
</main>

<%- include('../../part/footer.ejs') %>
