<%- include('../../part/header.ejs') %>

<main class="main-content relative">
    <h1 class="title">Pelayanan KK Baru Pindah Dalam Kota</h1>
    <p class="desc">Berikut Merupakan Syarat dan Penjelasan Pelayanan KK Baru Pindah Dalam Kota</p>
    <div class="ol-wrapper">
        <h2 class="text-2xl mb-8 font-bold underline underline-offset-8">Syarat</h2>
        <ol class="list-alpha mb-10">
            <li>Fotokopi KK;</li>
            <li>Fotokopi KTP-el;</li>
            <li>Fotokopi dokumen Perjalanan; dan</li>
            <li>Fotokopi kartu izin tinggal tetap. (Pasal 27 ayat (2) Perpres 96/2018)</li>
        </ol>
        <h2 class="text-2xl mb-8 font-bold underline underline-offset-8">Penjelasan</h2>
        <ul class="list-disc">
            <li>Orang Asing mengisi F-1.03;</li>
            <li>Orang Asing melampirkan fotokopi KK, KTP-el, Dokumen Perjalanan dan KITAP;</li>
            <li>Dalam hal Orang Asing menumpang KK, menyewa rumah, kontrak dan kost perlu menyerahkan surat pernyataan tidak keberatan dari pemilik rumah;</li>
            <li>Dinas menarik KTP-el dan/atau KIA bagi Orang Asing yang pindah dan mengganti KTP-el dan/atau KIA dengan alamat baru;</li>
            <li>Dinas memusnahkan KTP-el dan/atau KIA alamat lama; dan</li>
            <li>Dinas menerbitkan KK bagi Orang Asing yang pindah dengan alamat baru.</li>
        </ul>
        <div class="pl-12">
            <h2 class="text-xl mb-6 font-bold underline underline-offset-8">Catatan</h2>
            <h2 class="text-xl mb-10 font-semibold italic">Tidak perlu diterbitkan SKP</h2>
        </div>
    </div>
</main>

<%- include('../../part/footer.ejs') %>
