@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-[url('../img/bg-capil.jpg')] bg-cover bg-center bg-no-repeat;
    }
}

@layer components {
    .header {
        @apply h-[10vh] max-h-fit px-8;
    }

    .clock {
        @apply flex flex-col gap-2 justify-center rounded px-6 h-full font-zcool bg-black text-green-500;
    }

    .instansi-wrapper {
        @apply w-full h-full flex items-center justify-center gap-4;
    }

    .main-content {
        @apply h-[90vh] flex flex-col items-center overflow-hidden;
    }

    .title {
        @apply text-5xl font-bold text-neutral/80 pt-8;
    }

    .desc {
        @apply text-2xl font-semibold pt-4
    }

    .card-menu {
        @apply w-full flex flex-col gap-4 items-center text-neutral/80 justify-center p-8 bg-white shadow-lg rounded-lg transition-all
                hover:bg-primary hover:shadow-xl hover:-translate-y-2 hover:text-white;
    }
    .ol-wrapper {
        @apply w-[70%] h-full overflow-y-auto my-12 mx-auto pb-10;
    }

    ol.list-decimal, ol.list-alpha, ul.list-disc {
        @apply pl-12;
    }

    .list-decimal li, .list-alpha li, .list-disc li {
        @apply text-xl font-semibold text-neutral/80 mb-4;
    }

    .powered{
        @apply text-center text-sm font-medium italic text-primary-focus
    }
}

@layer utilities {
    .list-alpha{
        @apply list-[lower-alpha]
    }

    .bg-img {
        @apply bg-[url('../img/bg3.jpg')] bg-cover bg-center bg-no-repeat;
    }

    ::-webkit-scrollbar{
        @apply w-2 h-2 rounded-[.3rem]
    }

    ::-webkit-scrollbar-track:vertical{
        @apply bg-neutral/70 rounded-[.3rem];
    }

    ::-webkit-scrollbar-thumb:vertical {
        @apply bg-indigo-300 w-2 h-2 border-0 rounded-[.3rem];
    }

    .btn-shadow {
        box-shadow: 0.3rem -0.3rem #e22020;
    }

    .card-menu.hover-icon-stroke:hover svg {
        stroke: #3363ff !important;
        transition: 0;
    }

    .inset-white {
        box-shadow: inset 0 0 3rem #ffffff;
    }

    @keyframes draw {
        50% {
            stroke-dashoffset: 0;
        }
        100% {
            stroke-dashoffset: -60;
        }
    }

    .loket-shadow {
        box-shadow: 0 0 1rem rgba(10, 67, 255, 0.4);
    }

    .shadow-cs {
        box-shadow: 0 0.3rem 1.5rem rgba(0, 0, 0, 0.2);
    }

    .bg-shadow {
        box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.1);
    }

    .btn-shadow {
        box-shadow: 0.5rem -2rem 2rem 0px rgba(0, 0, 0, 0.4) inset, 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0.5rem -2rem 2rem 0px rgba(0, 0, 0, 0.4) inset, 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0.5rem -2rem 2rem 0px rgba(0, 0, 0, 0.4) inset, 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
    }

    body {
        /* height: 100vh; */
        width: 100vw;
    }

    @media print {
        body {
            width: 3in;
            height: 3in !important;
        }
        @page {
            width: 3in !important;
            height: 3in !important;
            margin: 1mm;
        }
    }
}
