<%- include('../../part/header.ejs') %>

<main class="main-content relative">
    <h1 class="text-5xl font-bold text-neutral/80 pt-8">Denah Layanan</h1>
    <p class="text-2xl font-semibold pt-4">Berikut Merupakan Denah Layanan Administrasi Kependudukan</p>
    <div class="w-full max-full py-12 overflow-hidden">
        <img src="/public_template/img/denah.jpg" alt="" class="h-full mx-auto">
    </div>
</main>

<%- include('../../part/footer.ejs') %>
