<%- include('../../part/header.ejs') %>

<main class="main-content relative">
    <h1 class="title">Syarat-syarat Layanan Akta</h1>
    <p class="desc pb-12">Berikut Merupakan Menu Persyaratan Akta</p>
    <div class="w-full grid grid-cols-4 gap-8 px-12">
        <a href="/syarat/akta/kelahiran" class="card-menu hover-icon-stroke">
            <div class="rounded-lg text-6xl">
                <i data-feather="file" class="fill-pink-500 stroke-white text-7xl w-[4.5rem] h-[4.5rem]"></i>
            </div>
            <div>
                <p class="text-xl text-center font-semibold">Akta kelahiran</p>
                <p>Menu ini khusus untuk pembuatan akta kelahiran</p>
            </div>
        </a>
        <a href="/syarat/akta/kematian" class="card-menu hover-icon-stroke">
            <div class="rounded-lg text-6xl">
                <i data-feather="file" class="fill-yellow-500 stroke-white text-7xl w-[4.5rem] h-[4.5rem]"></i>
            </div>
            <div>
                <p class="text-xl text-center font-semibold">Akta kematian</p>
                <p>Menu ini khusus untuk pembuatan akta kematian</p>
            </div>
        </a>
        <a href="/syarat/akta/perceraian" class="card-menu hover-icon-stroke">
            <div class="rounded-lg text-6xl">
                <i data-feather="file" class="fill-pink-500 stroke-white text-7xl w-[4.5rem] h-[4.5rem]"></i>
            </div>
            <div>
                <p class="text-xl text-center font-semibold">Akta perceraian</p>
                <p>Menu ini khusus untuk pembuatan akta perceraian</p>
            </div>
        </a>
        <a href="/syarat/akta/perkawinan" class="card-menu hover-icon-stroke">
            <div class="rounded-lg text-6xl">
                <i data-feather="file" class="fill-yellow-500 stroke-white text-7xl w-[4.5rem] h-[4.5rem]"></i>
            </div>
            <div>
                <p class="text-xl text-center font-semibold">Akta perkawinan</p>
                <p>Menu ini khusus untuk pembuatan akta perkawinan</p>
            </div>
        </a>
        <a href="/syarat/akta/pengangkatan_anak" class="card-menu hover-icon-stroke">
            <div class="rounded-lg text-6xl">
                <i data-feather="file" class="fill-green-500 stroke-white text-7xl w-[4.5rem] h-[4.5rem]"></i>
            </div>
            <div>
                <p class="text-xl text-center font-semibold">Akta pengangkatan anak</p>
                <p>Menu ini khusus untuk pembuatan akta pengangkatan anak</p>
            </div>
        </a>
        <a href="/syarat/akta/pengakuan_anak" class="card-menu hover-icon-stroke">
            <div class="rounded-lg text-6xl">
                <i data-feather="file" class="fill-indigo-400 stroke-white text-7xl w-[4.5rem] h-[4.5rem]"></i>
            </div>
            <div>
                <p class="text-xl text-center font-semibold">Akta pengakuan anak</p>
                <p>Menu ini khusus untuk pembuatan akta pengakuan anak</p>
            </div>
        </a>
        <a href="/syarat/akta/pengesahan_anak" class="card-menu hover-icon-stroke">
            <div class="rounded-lg text-6xl">
                <i data-feather="file" class="fill-green-500 stroke-white text-7xl w-[4.5rem] h-[4.5rem]"></i>
            </div>
            <div>
                <p class="text-xl text-center font-semibold">Akta pengesahan anak</p>
                <p>Menu ini khusus untuk pembuatan akta pengesahan anak</p>
            </div>
        </a>
        <a href="/syarat/akta/catatan_sipil" class="card-menu hover-icon-stroke">
            <div class="rounded-lg text-6xl">
                <i data-feather="file" class="fill-indigo-400 stroke-white text-7xl w-[4.5rem] h-[4.5rem]"></i>
            </div>
            <div>
                <p class="text-xl text-center font-semibold">Akta catatan sipil</p>
                <p>Menu ini khusus untuk pembuatan akta catatan sipil</p>
            </div>
        </a>
    </div>
</main>

<%- include('../../part/footer.ejs') %>
