<%- include('../../part/header.ejs') %>

<main class="main-content relative">
    <h1 class="title">Syarat-syarat Akta Kelahiran</h1>
    <p class="desc">Berikut Merupakan Persyaratan Akta Kelahiran</p>
    <div class="ol-wrapper">
        <ol class="list-decimal">
            <li>Mengisi Formulir Pelaporan Pencatatan Sipil (F-2.01)</li>
            <li>Surat Keterangan Kelahiran dari Dokter/Bidan/Penolong Kelahiran</li>
            <li>Surat Pernyataan Tanggung Jawab Mutlak/SPTJM (F.2-03) dalam hal surat keterangan kelahiran tidak terpenuhi yang diketahui dan ditandatangani 2 (dua) orang saksi</li>
            <li>Asli dan Fotocopy Buku Nikah/kutipan Akta Perkawinan atau bukti lain yang sah</li>
            <li>Surat pernyataan Tanggung Jawab Mutlak/SPTJM (F-2.04) dalam hal Buku Nikah/Kutipan Akta Perkawinan tidak terpenuhi dan didalam Kartu Keluarga (KK) menunjukan status hubungan perkawinan sebagai suami istri yang diketahui dan di tandatangani 2 (dua) orang saksi</li>
            <li>Kartu Keluarga (KK) dengan data terbarukan</li>
            <li>Fotocopy KTP-el orang tua/yang bersangkutan</li>
            <li>Fotocopy KTP-el 2 (dua) orang saksi</li>
            <li>Melampirkan alamat e-mail dan nomor handphone (HP)</li>
            <li>Bagi Orang Asing melampirkan Dokumen Perjalanan dan KTP-el atau Kartu Izin Tinggal Tetap</li>
        </ol>
    </div>
</main>

<%- include('../../part/footer.ejs') %>
