<%- include('../../part/header.ejs') %>

<main class="main-content relative">
    <h1 class="text-5xl font-bold text-neutral/80 pt-8">Syarat-syarat Akta Kematian</h1>
    <p class="text-2xl font-semibold pt-4">Berikut Merupakan Persyaratan Akta Kematian</p>
    <div class="ol-wrapper">
        <ol class="list-decimal w-[70%] ">
            <li>Mengisi Formulir Pelaporan Pencatatan Sipil (F-2.01)</li>
            <li>Surat Keterangan Kematian dari Dokter/Rumah Sakit/Kelurahan</li>
            <li>Fotocopy Dokumen Perjalanan Republik Indonesia bagi WNI Bukan Penduduk atau Perjalanan bagi Orang Asing</li>
            <li>Mengisi Formulir F1.06 dan F1.02 untuk memperbaharui Perubahan KK (jika diperlukan) dengan melampirkan data pendukung lainnya;</li>
            <li>Kartu Keluarga (KK) yang telah meninggal Dunia</li>
            <li>KTP-el yang telah meninggal Dunia</li>
            <li>Fotocopy KTP-el 2 (dua) orang saksi</li>
            <li>Melampirkan alamat e-mail dan nomor handphone(HP)</li>
        </ol>
    </div>
</main>

<%- include('../../part/footer.ejs') %>
