<%- include('../../part/header.ejs') %>

<main class="main-content relative">
    <h1 class="text-5xl font-bold text-neutral/80 pt-8">Syarat-syarat Akta Pencatatan Sipil</h1>
    <p class="text-2xl font-semibold pt-4">Berikut Merupakan Persyaratan Akta Pencatatan Sipil</p>
    <div class="ol-wrapper">
        <ol class="list-decimal w-[70%]">
            <li>Mengisi formulir pelaporan perubahan akta catatan sipil</li>
            <li>Mengisi Formulir Pelaporan Pencatatan Sipil (F-2.01)</li>
            <li>Melampirkan alamat e-mail dan nomor handphone(HP)</li>
            <li>Salinan penetapan pengadilan</li>
            <li>Asli dan Fotocopy kutipan akta kelahiran</li>
            <li>Fotocopy KK dan KTP-el</li>
        </ol>
    </div>
</main>

<%- include('../../part/footer.ejs') %>
