<%- include('../../part/header.ejs') %>

<main class="main-content relative">
    <h1 class="text-5xl font-bold text-neutral/80 pt-8">Syarat-syarat Akta Pengesahan Anak</h1>
    <p class="text-2xl font-semibold pt-4">Berikut Merupakan Persyaratan Akta Pengesahan Anak</p>
    <div class="ol-wrapper">
        <ol class="list-decimal w-[70%]">
            <li>Mengisi Formulir Pelaporan Pencatatan Sipil (F-2.01)</li>
            <li>Melampirkan alamat e-mail dan nomor handphone(HP)</li>
            <li>Asli dan Fotocopy Aktakelahiran</li>
            <li>Asli dan Fotocopy Akta Perkawinan/kutipan akta nikah</li>
            <li>Fotocopy KK dan KTP-el</li>
            <li>Akta Pengakuan Anak atau penetapan Pengadilan bagi anak yang lahir sebelum perkawinan agama</li>
        </ol>
    </div>
</main>

<%- include('../../part/footer.ejs') %>
