<%- include('../../part/header.ejs') %>

<main class="main-content relative">
    <h1 class="title">Syarat-syarat Akta Pengangkatan Anak</h1>
    <p class="desc">Berikut Merupakan Persyaratan Akta Pengangkatan Anak</p>
    <div class="ol-wrapper">
        <ol class="list-decimal w-[70%]">
            <li>Mengisi Formulir Pelaporan Pencatatan Sipil (F-2.01)</li>
            <li>Melampirkan alamat e-mail dan nomor handphone(HP)</li>
            <li>Salinan penetapan pengadilan</li>
            <li>Asli dan Fotocopy kutipan akta kelahiran</li>
            <li>Fotocopy KK dan KTP-el orang tua angkat</li>
        </ol>
    </div>
</main>

<%- include('../../part/footer.ejs') %>
