<%- include('../../part/header.ejs') %>

<main class="main-content relative">
    <h1 class="title">Syarat-syarat Akta Pengakuan Anak</h1>
    <p class="desc">Berikut Merupakan Persyaratan Akta Pengakuan Anak</p>
    <div class="ol-wrapper">
        <ol class="list-decimal w-[70%]">
            <li>Mengisi Formulir Pelaporan Pencatatan Sipil (F-2.01)</li>
            <li>Melampirkan alamat e-mail dan nomor handphone(HP)</li>
            <li>Surat pernyataan pengakuan anak (F-2.10)</li>
            <li>Asli dan Fotocopy Surat Keterangan Perkawinan dari Pemuka Agama</li>
            <li>Asli dan Fotocopy Akta Kelahiran</li>
            <li>Fotocopy KK dan KTP-el Orang Tua Kandung</li>
            <li>Penetapan Pengadilan bagi pengakuan anak yang lahir diluar perkawinan yang sah menurut hukum agama</li>
        </ol>
    </div>
</main>

<%- include('../../part/footer.ejs') %>
