<%- include('../../part/header.ejs') %>

<main class="main-content relative">
    <h1 class="title">Syarat-syarat Akta Perceraian</h1>
    <p class="desc">Berikut Merupakan Persyaratan Akta Perceraian</p>
    <div class="ol-wrapper">
        <ol class="list-decimal w-[70%]">
            <li>Mengisi Formulir Pelaporan Pencatatan Sipil (F-2.01)</li>
            <li>Melampirkan alamat e-mail dan nomor handphone(HP)</li>
            <li>Surat pengantar dan/atau Salinan putusan Pengadilan yang telah berkekuatan hukum tetap</li>
            <li>Asli kutipan Akta Pekawinan</li>
            <li>Fotocopy KK dan KTP-el</li>
            <li>Dalam hal pemohon tidak dapat menyerahkan kutipan akta perkawinan,maka membuat surat pernyataan yang menyatakan kutipan akta perkawinan tidak dimiliki dengan alasan sesuai ketentuan peraturan perundang-undangan</li>
        </ol>
    </div>
</main>

<%- include('../../part/footer.ejs') %>
