<%- include('../../part/header.ejs') %>

<main class="main-content relative">
    <h1 class="text-5xl font-bold text-neutral/80 pt-8">Syarat-syarat Akta Perkawinan</h1>
    <p class="text-2xl font-semibold pt-4">Berikut Merupakan Persyaratan Akta Perkawinan</p>
    <div class="ol-wrapper">
        <ol class="list-decimal w-[70%]">
            <li>Mengisi Formulir Pelaporan Pencatatan Sipil (F-2.01)</li>
            <li>Melampirkan alamat e-mail dan nomor handphone(HP)</li>
            <li>Asli dan potocopy Surat Keterangan telah terjadinya Perkawinan dari pemuka agama/pendeta atau surat perkawinan penghayat kepercayaan yang dilegalisir oleh pemuka agama</li>
            <li>Asli dan Fotocopy KTP-el dan KK suami istri</li>
            <li>Fotocopy Kutipan Akta Kelahiran suami istri</li>
            <li>Surat Izin dari komandan bagi anggotaTNI/POLRI</li>
            <li>Asli kutipan Akta Perceraian bagi yang telah cera</li>
            <li>Fotocopy Kutipan Akta Kematian bagi pasangan yang telah Meninggal</li>
            <li>Penetapan Pengadilan bagi yang berpoligami</li>
            <li>Fotocopy paspor bagi orang asing</li>
            <li>Fotocopy KITAS/KITAP bagi orang asing</li>
            <li>Surat Keterangan/izin Kawin (Nikah) dari kedutaan atau kantor perwakilan dari Negara asalnya</li>
            <li>Pas photo gandeng berwarna (ukuran 4x6) 2 lembar</li>
            <li>Fotocopy KTP-el dua orang saksi yang hadir pada waktu pencatatan</li>
        </ol>
    </div>
</main>

<%- include('../../part/footer.ejs') %>
