<%- include('../../part/header.ejs') %>

<main class="main-content relative">
    <h1 class="title">Syarat-syarat KIA Baru</h1>
    <p class="desc">Berikut Merupakan Persyaratan KIA Baru</p>
    <div class="ol-wrapper">
        <ol class="list-decimal">
            <li>Fotocopy Kartu Keluarga (KK) orang tua/wali dengan data terbarukan</li>
            <li>Fotocopy KTP-el kedua orang tua/wali</li>
            <li>Fotocopy Akta Kelahiran anak</li>
            <li>Pas photo warna ukuran 2x3 (2 lembar) bagi anak usia 5 tahun keatas</li>
            <li>Melampirkan alamat e-mail dan nomor handphone (HP)</li>
        </ol>
    </div>
</main>

<%- include('../../part/footer.ejs') %>
