<%- include('../../part/header.ejs') %>

<main class="main-content relative">
    <h1 class="title">Syarat-syarat KIA Hilang / Rusak</h1>
    <p class="desc">Berikut Merupakan Persyaratan KIA Hilang / Rusak</p>
    <div class="ol-wrapper">
        <ol class="list-decimal">
            <li>Surat Keterangan Kehilangan dari Kepolisian</li>
            <li>KIA yang rusak</li>
            <li>Fotocopy KK orangtua/ wali dengan data terbarukan</li>
            <li>Melampirkan alamat e-mail dan nomor handphone (HP)</li>
        </ol>
    </div>
</main>

<%- include('../../part/footer.ejs') %>
