<%- include('../../part/header.ejs') %>

<main class="main-content relative">
    <h1 class="title">SOP Akta Perceraian</h1>
    <p class="desc">Berikut Merupakan SOP Penerbitan Akta Perceraian</p>
    <div class="w-full h-full py-12 overflow-hidden">
        <img src="/public_template/img/sop/sopAktaPerceraian.png" alt="" class="h-full mx-auto">
    </div>
</main>

<%- include('../../part/footer.ejs') %>
