<%- include('../../part/header.ejs') %>

<main class="main-content relative">
    <h1 class="title">SOP Akta Perkawinan</h1>
    <p class="desc">Berikut Merupakan SOP Penerbitan Akta Perkawinan</p>
    <div class="w-full max-full py-12 overflow-hidden">
        <img src="/public_template/img/sop/sopAktaPerkawinan.png" alt="" class="h-full mx-auto">
    </div>
</main>

<%- include('../../part/footer.ejs') %>
