<%- include('../part/header.ejs') %>

<main class="main-content relative">
    <h1 class="title">Pelayanan Pindah Kewarganegaraan</h1>
    <p class="desc">Berikut Merupakan Syarat dan Penjelasan Pelayanan Pindah Kewarganegaraan</p>
    <div class="ol-wrapper">
        <h2 class="text-2xl mb-8 font-bold underline underline-offset-8">Syarat</h2>
        <ol class="list-alpha mb-10">
            <li>Fotokopi Petikan Keputusan Menteri yang menyelenggarakan urusan pemerintahan di bidang hukum tentang perubahan status kewarganegaraan;</li>
            <li>Asli salah satu kutipan akta pencatatan sipil yang dimiliki; dan</li>
            <li>Fotokopi Dokumen Perjalanan Republik Indonesia</li>
        </ol>
        <h2 class="text-2xl mb-8 font-bold underline underline-offset-8">Penjelasan</h2>
        <ul class="list-disc">
            <li>Orang Asing mengisi F-2.02;</li>
            <li>Orang Asing Menyerahkan Petikan Keputusan Menteri yang menyelenggarakan urusan pemerintahan di bidang hukum tentang perubahan status kewarganegaraan (asli hanya diperlihatkan);</li>
            <li>Orang Asing menyerahkan Dokumen Perjalanan Republik Indonesia berupa fotocopi bukan asli (asli hanya diperlihatkan) karena aslinya diserahkan ke Imigrasi;</li>
            <li>Orang Asing menyerahkan salah satu kutipan akta pencatatan sipil asli yang dimiliki yang diterbitkan Negara Indonesia atau akta pencatatan sipil yang diterbitkan oleh Negara lain (kutipan akta kelahiran atau kutipan akta perkawinan atau kutipan akta perceraian) karena akan diberikan catatan pinggir atau surat keterangan pelaporan perubahan status kewarganegaraan;</li>
            <li>Perwakilan RI memberikan catatan pinggir pada kutipan akta pencatatan Sipil yang diserahkan (CP.11) atau surat keterangan pelaporan perubahan status kewarganegaraan sebagai pengganti catatan pinggir pada akta pencatatan sipil yang diterbitkan negara lain (F-2.11);</li>
            <li>Dalam hal Perwakilan RI belum dapat mencatatkan perubahan status kewarganegaraan WNI menjadi WNA, maka Disdukcapil Kab/Kota dapat mencatatkan perubahan status kewarganegaraan tersebut dan memberikan cataan pinggir pada Akta pencatatan Sipil (CP.11) atau Surat Keterangan Pelaporan Perubahan Status Kewarganegaraan sebagai pengganti catatan pinggir pada akta pencatatan sipil yang diterbitkan negara lain (F-2.11).</li>
        </ul>
    </div>
</main>

<%- include('../part/footer.ejs') %>
