<%- include('../part/header.ejs') %>

<main class="main-content relative">
    <h1 class="title">Pelayanan SKPWNI</h1>
    <p class="desc">Berikut Merupakan Syarat dan Penjelasan Pelayanan SKPWNI</p>
    <div class="ol-wrapper">
        <h2 class="text-2xl mb-8 font-bold underline underline-offset-8">Syarat</h2>
        <ol class="list-alpha mb-10">
            <li>Fotokopi Petikan Keputusan Presiden tentang pewarganegaraan atau petikan Keputusan Menteri yang menyelenggarakan urusan pemerintahan di bidang hukum tentang perubahan status kewarganegaraan;</li>
            <li>Berita acara pengucapan sumpah atau pernyataan janji setia;</li>
            <li>Kutipan Akta Pencatatan Sipil Asli;</li>
            <li>KK Asli;</li>
            <li>KTP-el Asli; dan</li>
            <li>Fotokopi Dokumen Perjalanan. (Pasal 54 Perpres 96/2018)</li>
        </ol>
        <h2 class="text-2xl mb-8 font-bold underline underline-offset-8">Penjelasan</h2>
        <ul class="list-disc">
            <li>WNI mengisi F-2.01;</li>
            <li>WNI menyerahkan fotokopi Petikan Keputusan Presiden tentang pewarganegaraan atau fotokopi Petikan Keputusan Menteri yang menyelenggarakan urusan pemerintahan di bidang hukum tentang perubahan status kewarganegaraan yang (asli hanya diperlihatkan).</li>
            <li>WNI menyerahkan fotokopi berita acara pengucapan sumpah atau pernyataan janji setia pemohon di depan pejabat di Kantor Kanwil Kemenkumham berupa fotocopi bukan asli (asli hanya diperlihatkan);</li>
            <li>WNI menyerahkan KK asli dan KTP-el asli, karena akan diganti dengan yang baru dan diperlukan untuk verifikasi data yang tercantum dalam F-2.01;</li>
            <li>WNI menyerahkan fotocopi Dokumen Perjalanan (Paspor) karena aslinya sudah diserahkan kepada Kantor Imigrasi;</li>
            <li>WNI menyerahkan kutipan Akta Pencatatan Sipil asli yang diterbitkan Negara Indonesia atau Akta Pencatatan Sipil yang diterbitkan oleh Negara lain karena akan diberikan catatan pinggir atau surat keterangan pelaporan perubahan status kewarganegaraan;</li>
            <li>Dinas memberikan catatan pinggir pada Akta Pencatatan Sipil yang diterbitkan negara Indonesia(CP.10);</li>
            <li>Dinas memusnahkan KTP-el asli yang lama;</li>
            <li>Dalam hal Akta Pencatatan Sipil diterbitkan negara lain, Dinas menerbitkan surat keterangan pelaporan perubahan status kewarganegaraan sebagai pengganti catatan pinggir pada Akta Pencatatan Sipil yang diterbitkan negara lain (F-2.11).</li>
        </ul>
    </div>
</main>

<%- include('../part/footer.ejs') %>
