<%- include('../../part/header.ejs') %>

<main class="main-content relative">
    <h1 class="title">Syarat-syarat KK Baru</h1>
    <p class="desc">Berikut Merupakan Persyaratan KK Baru</p>
    <div class="ol-wrapper">
        <ol class="list-decimal">
            <li>Surat pengantar dari Rukun Tetangga (RT)</li>
            <li>Mengisi formulir biodata keluarga (F.1-01)</li>
            <li>Mengisi surat pernyataan tidak memiliki dokumen kependudukan (F.1-04)</li>
            <li>Melampirkan alamat e-mail dan nomor handphone (HP)</li>
            <li>Melampirkan data dukung sebagai berikut:</li>
            <ul class="list-disc pl-8">
                <li>Fotocopy kutipan buku nikah/kutipan akta perkawinan, atau kutipan akta perceraian</li>
                <li>Data golongan darah semua anggota keluarga</li>
                <li>Fotocopy ijazah pendidikan terakhir</li>
                <li>Fotocopy akta kelahiran</li>
                <li>Fotocopy SK/datapekerjaan</li>
                <li>Fotocopy KITAP (Kartu Izin Tinggal Tetap) yang masih berlaku bagi Orang Asing</li>
                <li>Fotocopy dokumen perjalanan bagi Orang Asing</li>
            </ul>
        </ol>
    </div>
</main>

<%- include('../../part/footer.ejs') %>
