<%- include('../../part/header.ejs') %>

<main class="main-content relative">
    <h1 class="text-5xl font-bold text-neutral/80 pt-8">Syarat-syarat KK Baru Dalam Kota</h1>
    <p class="text-2xl font-semibold pt-4">Berikut Merupakan Persyaratan KK Baru Karena Pindah Dalam Kota</p>
    <div class="ol-wrapper">
        <ol class="list-decimal">
            <li>KK Asli</li>
            <li>Mengisi formulir Pendaftaran Perpindahan Penduduk (F.1-03)</li>
            <li>Mengisi surat Pernyataan Perubahan Elemen Data Kependudukan (F.1-06)</li>
            <li>Melampirkan alamat e-mail dan nomor handphone (HP)</li>
            <li>Data dukung lainnya jika ada perubahan elemen data, meliputi:</li>
            <ul class="list-disc pl-8">
                <li>Fotocopy kutipan buku nikah/kutipan akta perkawinan, atau kutipan akta perceraian</li>
                <li>Data golongan darah semua anggota keluarga</li>
                <li>Fotocopy ijazah pendidikan terakhir</li>
                <li>Fotocopy akta kelahiran</li>
                <li>Fotocopy SK/datapekerjaan</li>
                <li>Surat pernyataan tanggung jawab mutlak perkawinan/perceraian belum tercatat(F1.05)</li>
            </ul>
        </ol>
    </div>
</main>

<%- include('../../part/footer.ejs') %>
