<%- include('../../part/header.ejs') %>

<main class="main-content relative">
    <h1 class="title">Syarat-syarat KTP-el Baru</h1>
    <p class="desc">Berikut Merupakan Persyaratan KTP-el Baru</p>
    <div class="ol-wrapper">
        <ol class="list-decimal">
            <li>Telah mecapai umur 17 Tahun sudah kawin atau pernah kawin</li>
            <li>Melakukan perekaman data KTP-el</li>
            <li>Fotocopy KK dengan data terbarukan</li>
            <li>Fotocopy KITAP (Kartu Ijin Tinggal Tetap) yang masih berlaku bagi Orang Asing</li>
            <li>Fotocopy dokumen perjalanan bagi Orang Asing</li>
            <li>Melampirkan alamat e-mail dan nomor handphone(HP)</li>
        </ol>
    </div>
</main>

<%- include('../../part/footer.ejs') %>
