<%- include('../../part/header.ejs') %>

<main class="main-content relative">
    <h1 class="text-5xl font-bold text-neutral/80 pt-8">Syarat-syarat KTP-el Hilang / Rusak</h1>
    <p class="text-2xl font-semibold pt-4">Berikut Merupakan Persyaratan KTP-el Hilang / Rusak</p>
    <div class="ol-wrapper">
        <ol class="list-decimal">
            <li>Surat keterangan kehilangan dari kepolisian</li>
            <li>KTP-el yang rusak</li>
            <li>Fotocopy KK dengan data terbarukan</li>
            <li>Fotocopy KITAP (Kartu Ijin Tinggal Tetap) yang masih berlaku bagi Orang Asing</li>
            <li>Fotocopy dokumen perjalanan bagi Orang Asing</li>
            <li>Melampirkan alamat e-mail dan nomor handphone(HP)</li>
        </ol>
    </div>
</main>

<%- include('../../part/footer.ejs') %>
