<%- include('../../part/header.ejs') %>

<main class="main-content relative">
    <h1 class="title">Syarat-syarat Layanan KTP-el</h1>
    <p class="desc pb-12">Berikut Merupakan Menu Persyaratan KTP-el</p>
    <div class="w-[70%] grid grid-cols-3 gap-8">
        <a href="/syarat/ktp/baru" class="card-menu hover-icon-stroke">
            <div class="rounded-lg text-6xl">
                <i data-feather="file" class="fill-green-500 stroke-white text-7xl w-[4.5rem] h-[4.5rem]"></i>
            </div>
            <p class="text-xl text-center font-semibold">KTP-el Baru</p>
        </a>
        <a href="/syarat/ktp/hilang" class="card-menu hover-icon-stroke">
            <div class="rounded-lg text-6xl">
                <i data-feather="file" class="fill-yellow-500 stroke-white text-7xl w-[4.5rem] h-[4.5rem]"></i>
            </div>
            <p class="text-xl text-center font-semibold">KTP-el Hilang / Rusak</p>
        </a>
        <a href="/syarat/ktp/perubahan" class="card-menu hover-icon-stroke">
            <div class="rounded-lg text-6xl">
                <i data-feather="file" class="fill-yellow-500 stroke-white text-7xl w-[4.5rem] h-[4.5rem]"></i>
            </div>
            <p class="text-xl text-center font-semibold">KTP-el Perubahan Data</p>
        </a>
    </div>
</main>

<%- include('../../part/footer.ejs') %>
