<%- include('../../part/header.ejs') %>

<main class="main-content relative">
    <h1 class="title">Syarat-syarat KTP-el Perubahan Elemen Data</h1>
    <p class="desc">Berikut Merupakan Persyaratan KTP-el Perubahan Elemen Data</p>
    <div class="ol-wrapper">
        <ol class="list-decimal">
            <li>Fotocopy KK dengan data terbarukan</li>
            <li>KTP-el lama</li>
            <li>Fotocopy KITAP (Kartu Ijin Tinggal Tetap) yang masih berlaku bagi Orang Asing</li>
            <li>Melampirkan alamat e-mail dan nomor handphone (HP)</li>
        </ol>
    </div>
</main>

<%- include('../../part/footer.ejs') %>
