<%- include('../../part/header.ejs') %>

<main class="main-content relative">
    <h1 class="title">Pelayanan KIA Hilang / Rusak</h1>
    <p class="desc">Berikut Merupakan Syarat dan Penjelasan Pelayanan KIA Hilang / Rusak</p>
    <div class="ol-wrapper">
        <h2 class="text-2xl mb-8 font-bold underline underline-offset-8">Syarat</h2>
        <ol class="list-alpha mb-10">
            <li>Melampirkan surat kehilangan dari kepolisian (Untuk KIA hilang); (Pasal 4 Permendagri 2/2016)</li>
            <li>Melampirkan KIA Rusak (Untuk KIA rusak); (Pasal 5 Permendagri 2/2016)</li>
            <li>Melampirkan SKPLN orang tuanya (Untuk anak WNI yang baru datang dari luar negeri) SKDLN dicatatkan dalam database tidak diterbitkan; dan (Pasal 3 ayat (4) Permendagri 2/2016)</li>
            <li>Melampirkan SKP (Untuk penggantian karena pindah datang dalam wilayah NKRI). (Pasal 6 Permendagri 2/2016)</li>
        </ol>
        <h2 class="text-2xl mb-8 font-bold underline underline-offset-8">Penjelasan</h2>
        <ul class="list-disc">
            <li>Pemohon mengisi F-1.02. Pemohon tidak perlu menyerahkan KK dan KTP-el orang tua, karena sudah mengisi F-1.02;</li>
            <li>Pemohon melampirkan asli surat kehilangan kepolisian (jika KIA hilang);</li>
            <li>Pemohon melampirkan KIA rusak (jika KIA rusak);</li>
            <li>Pemohon melampirkan SKPLN orang tuanya (Untuk anak WNI yang baru datang dari luar negeri);</li>
            <li>Pemohon melampirkan SKP (Untuk penggantian karena pindah datang dalam wilayah NKRI); dan</li>
            <li>Dinas menerbitkan KIA baru.</li>
            <li>Dinas memusnahkan KIA lama</li>
        </ul>
        <div class="pl-12">
            <h2 class="text-xl mb-6 font-bold underline underline-offset-8">Catatan</h2>
            <ul class="list-disc">
                <li>Masa berlaku KIA baru untuk anak kurang dari 5 tahun adalah sampai anak berusia 5 tahun</li>
                <li>Masa berlaku KIA untuk anak 5 tahun adalah sampai anak berusia 17 tahun kurang satu hari. (Pasal 7 Permendagri 2/2016)</li>
            </ul>
        </div>
    </div>
</main>

<%- include('../../part/footer.ejs') %>
