<%- include('../../part/header.ejs') %>

<main class="main-content relative">
    <h1 class="title">Pelayanan KIA Baru</h1>
    <p class="desc">Berikut Merupakan Syarat dan Penjelasan Pelayanan KIA Baru</p>
    <div class="ol-wrapper">
        <h2 class="text-2xl mb-8 font-bold underline underline-offset-8">Syarat</h2>
        <ol class="list-alpha mb-10">
            <li>Fotokopi kutipan akta kelahiran dan menunjukkan kutipan akta kelahiran aslinya;</li>
            <li>KK asli orang tua/wali; dan</li>
            <li>KTP-el asli kedua orang tua/wali. (Pasal 3 ayat (2) Permendagri 2/2016 untuk anak usia 0-5 tahun kurang 1 hari)</li>
            <li>Foto Anak berwarna ukuran 2x3 sebanyak 2 (dua) lembar untuk anak 5-17 tahun kurang 1 (satu) hari. (Pasal 3 ayat (3) Permendagri 2/2016 untuk anak usia 5 tahun-17 tahun kurang 1 hari)</li>
        </ol>
        <h2 class="text-2xl mb-8 font-bold underline underline-offset-8">Penjelasan</h2>
        <ul class="list-disc">
            <li>Penduduk mengisi F-1.02. Penduduk tidak perlu menyerahkan KK dan KTP-el orang tua, karena sudah mengisi F-1.02;</li>
            <li>Penduduk melampirkan fotokopi Kutipan Akta Kelahiran; dan</li>
            <li>Dinas menerbitkan KIA Baru.</li>
        </ul>
        <div class="pl-12">
            <h2 class="text-xl mb-6 font-bold underline underline-offset-8">Catatan</h2>
            <ul class="list-disc">
                <li>Masa berlaku KIA baru untuk anak kurang dari 5 tahun adalah sampai anak berusia 5 tahun</li>
                <li>Masa berlaku KIA untuk anak 5 tahun adalah sampai anak berusia 17 tahun kurang satu hari. (Pasal 7 Permendagri 2/2016)</li>
                <li>Untuk pelayanan online/Daring, persyaratan yang discan/difoto untuk diunggah harus aslinya</li>
            </ul>
        </div>
    </div>
</main>

<%- include('../../part/footer.ejs') %>
