<%- include('../part/header.ejs') %>

<main class="main-content relative">
    <h1 class="text-5xl font-bold text-neutral/80 pt-8">Syarat-syarat Layanan</h1>
    <p class="text-2xl font-semibold pt-4 pb-12">Berikut Merupakan Syarat Pelayanan Administrasi Kependudukan</p>
    <div class="w-full grid grid-cols-3 gap-8 px-24 text-neutral/80">
        <a href="/syarat/kk" class="card-menu rounded-xl hover-icon-stroke">
            <div class="rounded-lg text-6xl">
                <i data-feather="file" class="fill-green-500 stroke-white text-7xl w-[4.5rem] h-[4.5rem]"></i>
            </div>
            <p class="text-xl text-center font-semibold">Pengurusan KK</p>
        </a>
        <a href="/syarat/akta" class="card-menu rounded-xl hover-icon-stroke">
            <div class="rounded-lg text-6xl">
                <i data-feather="file" class="fill-yellow-500 stroke-white text-7xl w-[4.5rem] h-[4.5rem]"></i>
            </div>
                <p class="text-xl text-center font-semibold">Pengurusan Akta</p>
        </a>
        <a href="/syarat/ktp_el" class="card-menu rounded-xl hover-icon-stroke">
            <div class="rounded-lg text-6xl">
                <i data-feather="file" class="fill-blue-500 stroke-white text-7xl w-[4.5rem] h-[4.5rem]"></i>
            </div>
            <p class="text-xl text-center font-semibold">Pengurusan KTP-el</p>
        </a>
        <a href="/skpwni" class="card-menu rounded-xl">
            <div class="rounded-lg text-6xl">
                <i data-feather="flag" class="fill-red-500 stroke-red-500 text-7xl w-[4.5rem] h-[4.5rem]"></i>
            </div>
                <p class="text-xl text-center font-semibold">SKPWNI</p>
        </a>
        <a href="/kewarganegaraan" class="card-menu rounded-xl">
            <div class="rounded-lg text-6xl">
                <i data-feather="send" class="fill-white stroke-red-600 text-7xl w-[4.5rem] h-[4.5rem]"></i>
            </div>
                <p class="text-xl text-center font-semibold">Pindah Kewarganegaraan</p>
        </a>
        <a href="/skpwni" class="card-menu rounded-xl hover-icon-stroke">
            <div class="rounded-lg text-6xl">
                <i data-feather="file" class="fill-pink-500 stroke-white text-7xl w-[4.5rem] h-[4.5rem]"></i>
            </div>
                <p class="text-xl text-center font-semibold">Pengurusan KIA</p>
        </a>
    </div>
</main>

<%- include('../part/footer.ejs') %>
