<%- include('../part/header.ejs') %>

<main class="main-content relative">
    <h1 class="title">Syarat-syarat Layanan Pindah Kewarganegaraan</h1>
    <p class="desc pb-12">Berikut Merupakan Persyaratan Pindah Kewarganegaraan</p>
    <div class="ol-wrapper">
        <ol class="list-decimal">
            <li>Mengisi formulir Pelaporan Pencatatan Sipil (F-2.01)</li>
            <li>Melampirkan alamat e-mail dan nomor handphone(HP)</li>
            <li>Fotocopy Surat Pewarganegaraan</li>
            <li>Asli dan Fotocopy Akta Kelahiran</li>
            <li>Fotocopy KK dankTP-el</li>
        </ol>
    </div>
</main>

<%- include('../part/footer.ejs') %>
