<!DOCTYPE html>
<html lang="id" data-theme="light">
    <head>
        <title>Aplikasi Informasi Layanan</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="/public_template/img/favicon.png" type="image/x-icon" />
        <link rel="stylesheet" href="/public_template/dist/style.css?132" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/print-js/1.6.0/print.min.css" integrity="sha512-zrPsLVYkdDha4rbMGgk9892aIBPeXti7W77FwOuOBV85bhRYi9Gh+gK+GWJzrUnaCiIEm7YfXOxW8rzYyTuI1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js" integrity="sha512-LGXaggshOkD/at6PFNcp2V2unf9LzFq6LE+sChH7ceMTDP0g2kn6Vxwgg7wkPP7AAtX+lmPqPdxB47A0Nz0cMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600;700;800&family=ZCOOL+QingKe+HuangYou&display=swap" rel="stylesheet" />
        <script>
            const baseUrl = "<%= process.env.BASE_URL %>";
        </script>
    </head>
    <body>
        <div class="absolute top-0 left-0 w-full h-full bg-white/30 backdrop-blur-sm print:hidden"></div>
        <header class="header bg-white relative z-10 print:hidden">
            <div class="w-full grid grid-cols-3 gap-1 h-full items-center">
                <div class="w-full h-full flex gap-4 items-center">
                    <a href="<%= previousLink %> " class="btn btn-primary rounded-full font-bold text-white pr-6"><i data-feather="chevron-left" class="stroke-white mr-2 w-5 h-5 text-xl"></i>Kembali</a>
                    <p class="text-lg font-bold">Aplikasi Informasi Layanan</p>
                </div>
                <div class="instansi-wrapper h-full">
                    <img src="/public_template/img/mini-logo.png" class="h-10" />
                    <img src="/public_template/img/capil.png" class="h-10" />
                </div>
                <a href="/" class="text-primary/90 text-right font-bold text-lg"> Beranda </a>
            </div>
        </header>