<%- include('../part/header.ejs') %>

<main class="main-content relative">
    <h1 class="title">SOP KIA</h1>
    <p class="desc">Berikut Merupakan SOP Penerbitan KIA</p>
    <div class="w-full max-full py-12 overflow-hidden">
        <img src="/public_template/img/sop/sopKiaBaru.png" alt="" class="h-full mx-auto">
    </div>
</main>

<%- include('../part/footer.ejs') %>
