<%- include('../part/header.ejs') %>

<main class="main-content relative">
    <h1 class="title">SOP KK</h1>
    <p class="desc">Berikut Merupakan SOP Penerbitan KK</p>
    <div class="w-full h-full py-12 overflow-hidden">
        <img src="/public_template/img/sop/sopKkBaru.png" alt="" class="h-full mx-auto">
    </div>
</main>

<%- include('../part/footer.ejs') %>
