<%- include('../../part/header.ejs') %>

<main class="main-content relative">
    <h1 class="title">Pelayanan Akta Kelahiran</h1>
    <p class="desc">Berikut Merupakan Syarat dan Penjelasan Pelayanan Akta Kelahiran</p>
    <div class="ol-wrapper">
        <h2 class="text-2xl mb-8 font-bold underline underline-offset-8">Syarat</h2>
        <ol class="list-alpha mb-10">
            <li>Fotokopi surat keterangan kelahiran yaitu dari rumah sakit/Puskesmas/ fasilitas kesehatan/dokter/bidan atau surat keterangan kelahiran dari nakhoda kapal laut/kapten pesawat terbang, atau dari kepala desa/lurah jika lahir di rumah/ tempat lain, antara lain: kebun, sawah, angkutan umum.</li>
            <li>Fotokopi buku nikah/kutipan akta perkawinan/bukti lain yang sah;</li>
            <li>Fotokopi KK dimana penduduk terdaftar atau akan didaftarkan sebagai anggota keluarga</li>
            <li>Berita acara dari kepolisian bagi anak yang tidak diketahui asal usulnya/keberadaan orang tuanya</li>
            <li>Penduduk dapat membuat SPTJM kebenaran data kelahiran dengan mengisi F-2.03 dan 2 (dua) orang saksi, jika tidak memenuhi persyaratan sebagaimana huruf a</li>
            <li>Penduduk dapat membuat SPTJM kebenaran sebagai pasangan suami istri dengan mengisi F-2.04 dan 2 (dua) orang saksi, jika tidak memenuhi persyaratatan sebagaimana huruf b.</li>
        </ol>
        <h2 class="text-2xl mb-8 font-bold underline underline-offset-8">Penjelasan</h2>
        <ul class="list-disc">
            <li>WNI mengisi formulir F-2.01.</li>
            <li>Untuk pelayanan secara offline/tatap muka, persyaratan surat keterangan kelahiran yang diserahkan berupa fotokopi bukan asli (asli hanya diperlihatkan).</li>
            <li>Dinas tidak menarik surat keterangan kelahiran asli.</li>
            <li>Untuk pelayanan online/Daring, persyaratan yang discan/ difoto untuk diunggah harus aslinya.</li>
            <li>WNI melampirkan Fotokopi KK untuk verifikasi data yang tercantum dalam formulir F-2.01.</li>
            <li>WNI tidak perlu melampirkan fotokopi KTP-el saksi, karena identitas saksi sudah tercantum dalam formulir F-2.01. Dinas menerbitkan kutipan akta kelahiran.</li>
        </ul>
    </div>
</main>

<%- include('../../part/footer.ejs') %>
