<%- include('../../part/header.ejs') %>

<main class="main-content relative">
    <h1 class="title">Pelayanan Akta Kematian</h1>
    <p class="desc">Berikut Merupakan Syarat dan Penjelasan Pelayanan Akta Kematian</p>
    <div class="ol-wrapper">
        <h2 class="text-2xl mb-8 font-bold underline underline-offset-8">Syarat</h2>
        <ol class="list-alpha mb-10">
            <li>Fotokopi surat kematian dari dokter atau kepala desa/lurah atau yang disebut dengan nama lain, atau surat keterangan kepolisian bagi kematian seseorang yang tidak jelas identitasnya, atau salinan penetapan pengadilan bagi seseorang yang tidak jelas keberadaannya karena hilang atau mati tetapi tidak ditemukan jenazahnya, atau surat pernyataan kematian dari maskapai penerbangan bagi seseorang yang tidak jelas keberadaannya karena hilang atau mati tetapi tidak ditemukan jenazahnya sesuai dengan ketentuan peraturan perundang-undangan, atau surat keteterangan kematian dari Perwakilan RI bagi penduduk yang kematiannya di luar wilayah NKRI;</li>
            <li>Fotokopi Dokumen Perjalanan Republik Indonesia bagi WNI bukan Penduduk atau Fotokopi Dokumen Perjalanan bagi Orang Asing.</li>
            <li>Fotokopi KK/KTP yang meninggal dunia.</li>
        </ol>
        <h2 class="text-2xl mb-8 font-bold underline underline-offset-8">Penjelasan</h2>
        <ul class="list-disc">
            <li>WNI mengisi F-2.01.</li>
            <li>Orang Asing mengisi formulir F-2.01.</li>
            <li>Untuk pelayanan secara offline/tatap muka, persyaratan surat kematian yang diserahkan berupa fotokopi bukan asli (asli hanya diperlihatkan).</li>
            <li>Dinas tidak menarik surat kematian asli.</li>
            <li>WNI melampirkan fotokopi KK untuk verifikasi data yang tercantum dalam formulir F-2.01.</li>
            <li>Untuk pelayanan online/Daring, persyaratan yang discan/ difoto untuk diunggah harus aslinya.</li>
            <li>WNI dan Orang Asing tidak perlu melampirkan fotokopi KTP-el saksi, karena identitasnya sudah tercantum dalam formulir F-2.01.</li>
            <li>Orang Asing menyerahkan fotokopi Dokumen Perjalanan atau fotokopi ITAS/SKTT atau fotokopi ITAP/KTP-el.</li>
            <li>WNI bukan penduduk menyerahkan fotokopi dokumen perjalanan RI yang meninggal dunia.</li>
            <li>Pencatatan Kematian dilaporkan tidak hanya oleh anak atau ahli waris tetapi dapat juga dilaporkan oleh keluarga lainnya, termasuk ketua RT.</li>
            <li>Dalam hal subjek akta tidak tercantum dalam KK dan database kependudukan, kutipan akta kematian diterbitkan tanpa NIK.</li>
            <li>Dinas menerbitkan kutipan akta kematian.</li>
        </ul>
    </div>
</main>

<%- include('../../part/footer.ejs') %>
