<%- include('../../part/header.ejs') %>

<main class="main-content relative">
    <h1 class="title">Pelayanan Akta Pencatatan Sipil</h1>
    <p class="desc">Berikut Merupakan Syarat dan Penjelasan Pelayanan Akta Pencatatan Sipil</p>
    <div class="ol-wrapper">
        <h2 class="text-2xl mb-8 font-bold underline underline-offset-8">Syarat</h2>
        <ol class="list-alpha mb-10">
            <li>fotokopi dokumen autentik yang menjadi persyaratan pembuatan Akta Pencatatan Sipil; dan</li>
            <li>kutipan akta Pencatatan Sipil dimana terdapat kesalahan tulis redaksional.</li>
        </ol>
        <h2 class="text-2xl mb-8 font-bold underline underline-offset-8">Penjelasan</h2>
        <ul class="list-disc mb-10">
            <li>Dinas tidak menarik dokumen autentik yang menjadi persyaratan pembuatan akta Pencatatan Sipil asli.</li>
            <li>Tidak perlu KTP-el saksi dan ayah, ibu atau wali (bagi anak yang dibawah umur), karena identitas saksi dan ayah, ibu atau wali sudah tercantum dalam formulir F-2.01.</li>
            <li>Dinas membuat catatan pinggir pada register akta Pencatatan Sipil mengenai pembetulan akta dan menerbitkan kembali kutipan akta Pencatatan Sipil serta mencabut kutipan akta Pencatatan Sipil dari subjek akta.</li>
        </ul>
        <h2 class="text-xl mb-4 font-bold italic pl-8">Bilamana terdapat permohonan pembentulan nama, maka pencatatannya termasuk dalam kategori pencatatan pembetulan akta pencatatan sipil, dan harus memenuhi persyaratan</h2>
        <ul class="list-disc mb-10">
            <li>permohonan dari subjek akta atau orang lain yang dikuasakan;</li>
            <li>fotokopi dokumen autentik meliputi ijazah, buku nikah, pasport dll;</li>
            <li>kutipan akta Pencatatan Sipil dimana terdapat kesalahan nama;</li>
            <li>mengisi SPTJM Kebenaran data dengan 2 orang saksi (tidak perlu fotokopi KTP-el saksi); dan</li>
        </ul>
        <h2 class="text-2xl mb-8 font-bold underline underline-offset-8">Catatan</h2>
        <h2 class="text-xl mb-8 font-semibold italic">Hasil pencatatan pembetulan nama, Dinas membuat catatan pinggir pada register akta Pencatatan Sipil mengenai pembetulan nama dan menerbitkan kembali kutipan akta Pencatatan Sipil serta mencabut kutipan akta Pencatatan Sipil dari subjek akta.</h2>
    </div>
</main>

<%- include('../../part/footer.ejs') %>
