<%- include('../../part/header.ejs') %>

<main class="main-content relative">
    <h1 class="title">Pelayanan Akta Pengangkatan Anak</h1>
    <p class="desc">Berikut Merupakan Syarat dan Penjelasan Pelayanan Akta Pengangkatan Anak</p>
    <div class="ol-wrapper">
        <h2 class="text-2xl mb-8 font-bold underline underline-offset-8">Syarat</h2>
        <ol class="list-alpha mb-10">
            <li>fotokopi salinan penetapan pengadilan;</li>
            <li>kutipan akta kelahiran anak;</li>
            <li>fotokopi KK orang tua angkat; dan</li>
            <li>fotokopi Dokumen Perjalanan bagi orang tua angkat Orang Asing.</li>
        </ol>
        <h2 class="text-2xl mb-8 font-bold underline underline-offset-8">Penjelasan</h2>
        <ul class="list-disc">
            <li>WNI/Orang Asing mengisi formulir F-2.01.</li>
            <li>Fotokopi KK diperlukan untuk verifikasi data yang tercantum dalam formulir F-2.01.</li>
            <li>Dinas tidak menarik salinan penetapan pengadilan asli</li>
            <li>Tidak perlu KTP-el saksi, ayah kandung, ibu kandung dan orang tua angkat, karena identitasnya sudah tercantum dalam formulir F-2.01.</li>
            <li>Dinas membuat catatan pinggir pengangkatan anak pada register akta kelahiran dan kutipan akta kelahiran.</li>
        </ul>
    </div>
</main>

<%- include('../../part/footer.ejs') %>
