<%- include('../../part/header.ejs') %>

<main class="main-content relative">
    <h1 class="title">Pelayanan Akta Pengesahan Anak</h1>
    <p class="desc">Berikut Merupakan Syarat dan Penjelasan Pelayanan Akta Pengesahan Anak</p>
    <div class="ol-wrapper">
        <h2 class="text-2xl mb-8 font-bold underline underline-offset-8">Syarat</h2>
        <ol class="list-alpha mb-10">
            <li>akta kelahiran;</li>
            <li>fotokopi kutipan akta perkawinan yang menerangkan terjadinya peristiwa perkawinan agama atau kepercayaan terhadap Tuhan Yang Maha Esa terjadi sebelum kelahiran anak;</li>
            <li>fotokopi KK orang tua.</li>
        </ol>
        <h2 class="text-2xl mb-8 font-bold underline underline-offset-8">Penjelasan</h2>
        <ul class="list-disc">
            <li>WNI/Orang Asing mengisi formulir F-2.01.</li>
            <li>Fotokopi KK diperlukan untuk verifikasi data yang tercantum dalam formulir F-2.01.</li>
            <li>Dinas tidak menarik kutipan akta perkawinan asli.</li>
            <li>Tidak perlu KTP-el saksi karena identitasnya sudah tercantum dalam formulir F-2.01.</li>
            <li>Dinas menerbitkan register akta pengesahan anak dan kutipan akta pengesahan anak serta membuat catatan pinggir pengesahan anak pada register akta kelahiran dan kutipan akta kelahiran.</li>
        </ul>
    </div>
</main>

<%- include('../../part/footer.ejs') %>
