<%- include('../../part/header.ejs') %>

<main class="main-content relative">
    <h1 class="title">Pelayanan Akta Pengakuan Anak</h1>
    <p class="desc">Berikut Merupakan Syarat dan Penjelasan Pelayanan Akta Pengakuan Anak</p>
    <div class="ol-wrapper">
        <h2 class="text-2xl mb-8 font-bold underline underline-offset-8">Syarat</h2>
        <ol class="list-alpha mb-10">
            <li>Asli surat pernyataan pengakuan anak dari ayah biologis yang disetujui oleh ibu kandung atau fotokopi penetapan pengadilan mengenai pengakuan anak jika ibu kandung Orang Asing;</li>
            <li>fotokopi surat keterangan telah terjadinya perkawinan dari pemuka agama atau penghayat kepercayaan terhadap Tuhan YME;</li>
            <li>kutipan akta kelahiran anak;</li>
            <li>fotokopi KK ayah atau ibu;</li>
            <li>fotokopi Dokumen Perjalanan bagi ibu kandung Orang Asing</li>
        </ol>
        <h2 class="text-2xl mb-8 font-bold underline underline-offset-8">Penjelasan</h2>
        <ul class="list-disc">
            <li>WNI/Orang Asing mengisi formulir F-2.01.</li>
            <li>Persyaratan surat keterangan telah terjadinya perkawinan dari pemuka agama atau penghayat kepercayaan terhadap Tuhan YME berupa fotokopi (asli hanya diperlihatkan).</li>
            <li>Dinas Dukcapil tidak menarik surat keterangan telah terjadinya perkawinan dari pemuka agama atau penghayat kepercayaan terhadap Tuhan YME.</li>
            <li>Fotokopi KK diperlukan untuk verifikasi data yang tercantum dalam formulir F-2.01.</li>
            <li>Tidak perlu KTP-el saksi, ayah kandung dan ibu kandung karena identitasnya sudah tercantum dalam formulir F-2.01.</li>
            <li>Dinas menerbitkan register akta pengakuan anak dan kutipan akta pengakuan anak serta membuat catatan pinggir pengakuan anak pada register akta kelahiran dan kutipan akta kelahiran.</li>
        </ul>
    </div>
</main>

<%- include('../../part/footer.ejs') %>
