<%- include('../../part/header.ejs') %>

<main class="main-content relative">
    <h1 class="title">Pelayanan Akta Perkawinan</h1>
    <p class="desc">Berikut Merupakan Syarat dan Penjelasan Pelayanan Akta Perkawinan</p>
    <div class="ol-wrapper">
        <h2 class="text-2xl mb-8 font-bold underline underline-offset-8">Syarat</h2>
        <ol class="list-alpha mb-10">
            <li>Fotokopi surat keterangan telah terjadinya perkawinan dari pemuka agama atau penghayat kepercayaan terhadap Tuhan Yang Maha Esa;</li>
            <li>pas foto berwarna suami dan istri;</li>
            <li>KTP-el Asli;</li>
            <li>KK Asli;</li>
            <li>bagi janda atau duda karena cerai mati melampirkan fotokopi akta kematian pasangannya; atau Bagi janda atau duda karena cerai hidup melampirkan fotokopi akta perceraian.</li>
        </ol>
        <h2 class="text-2xl mb-8 font-bold underline underline-offset-8">Penjelasan</h2>
        <ul class="list-disc">
            <li>WNI mengisi formulir F-2.01</li>
            <li>Untuk pelayanan secara offline/tatap muka, persyaratan salinan putusan pengadilan yang telah mempunyai kekuatan hukum tetap yang diserahkan berupa fotokopi bukan asli (asli hanya diperlihatkan)</li>
            <li>Dinas tidak menarik salinan putusan asli</li>
            <li>WNI melampirkan KK Asli untuk verifikasi data yang tercantum dalam formulir F-2.01 serta untuk dilakukan perubahan data (status perkawinan menjadi Cerai Hidup).</li>
            <li>Untuk pelayanan online/Daring, persyaratan yang discan/ difoto untuk diunggah harus aslinya</li>
            <li>Tidak perlu melampirkan fotokopi KTP-el 2 Saksi karena identitas saksi sudah tercantum dalam formulir F-2.01</li>
            <li>Dinas menarik kutipan akta perkawinan asli, KK Asli dan KTP-el Asli yang lama.</li>
            <li>Dinas memusnahkan KTP-el asli yang lama.</li>
            <li>Dalam hal pemohon tidak dapat menyerahkan kutipan akta perkawinan atau bukti pencatatan perkawinan, pemohon membuat surat pernyataan (SPTJM) yang menyatakan kutipan akta perkawinan tidak dimiliki dengan alasan sesuai dengan ketentuan peraturan perundang-undangan. Dinas menerbitkan Kutipan Akta Perceraian, KTP-el dan KK baru dengan status perkawinan yang sudah dimutakhirkan datanya</li>
        </ul>
    </div>
</main>

<%- include('../../part/footer.ejs') %>
